.red {
  background-color: rgb(219, 34, 36);
}

.orange {
  background-color: rgb(237, 122, 62);
}

.yellow {
  background-color: rgb(237, 187, 21);
}

.rgreed {
  background-color: rgb(70, 193, 147);
}

.blue {
  background-color: rgb(19, 106, 187);
}

.purple {
  background-color: purple;
}